@import "scrolly.scss";

.swiper-container {
    width: 600px;
    height: 300px;
}

body {
  margin:0;
  padding:0;
  font-family:'Open Sans', sans-serif;
}

article {
  width:100%;
  margin:0;
  padding:0;
}

p,h1 {
  margin: 0 auto;
  max-width:640px;
  padding:0 1rem;
}

h1 {
  padding-bottom:1rem;
  padding-top:2rem;
}

.bubbles {
    fill:#FAB040;
    stroke: #F25929;
}

.tick line {
  stroke-dasharray: 1 2;
  stroke: #CCC;
}

.tick text {
  font-family:'Open Sans', sans-serif;
  font-size:.85rem;
  fill: #AAA; 

}

.hovered {
  stroke: #000;
  stroke-width: 3px;
}

.tooltip {
  pointer-events:none;
  position: absolute;
  background:rgba(255,255,255,.8);
  border: 1px solid #DCDCDC;
  padding:5px;
  max-width:200px;
}